html {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #284e66;
    height: 100%;
	margin: 0;
	color: #ccdbdc;
}

.leaflet-container {
	background-color: #284e66;
}

#map {
	height: 80%;
	width: 75%;
	margin: auto;
	float: left;
}

#feature-container {
	height:80%;
	width: auto;
	margin-left: 75%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#index-div {
	height: 30%;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
#index-div p {
	align-self: center;
}

#index-value {
	font-size: 5em;
	margin: 0;
}

.mapLegend {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 1.1em;
}

.dot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
	margin: 1%;
}

#redDot {
	background-color: #f03b20;
}

#greenDot {
	background-color: #31a354;
}

#yellowDot {
	background-color: #fec44f;
}

table {
	border-collapse: collapse;
	align-self: center;
}
table td, table th {
	border: 3px solid #ccdbdc;
	text-align: center;
}
table tr:first-child th{
  border: 0;
}
table tr:nth-child(2) th{
	font-size: 3em;
	border: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.sliderContainer {
	margin-top: 1em;
	width: 100%;
}

.sliderContainer p {
	text-align: center;
}

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}